

div{
  float: right;
  width: 50%;
  margin-top: 50px;
  margin-right: 10%;
}

img{
  float: left;
  margin-left: 10%;
  margin-top: 50px;
  border-width: medium;
  box-shadow: 5px 5px rgba(131, 38, 132, 0.16);
}

