<!--<img src="../../assets/logo.png" alt="Ayana Beauty"/>-->

<header>
  <div class="container">
    <div class="logo-box">
      <a href="/">
        <img src="../../assets/logo.png">
      </a>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/">O nas</a></li>
        <li><a routerLink="/gallery">Galeria</a></li>
        <li><a routerLink="/costs">Usługi</a></li>
        <li><a routerLink="/contact">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
