<nav class="slidemenu">
  <!-- Item 1 -->
  <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle" checked/>
  <label for="slide-item-1"><p class="icon">☁</p><span>O nas</span></label>

  <!-- Item 2 -->
  <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle"/>
  <label for="slide-item-2"><p class="icon">📷</p><span>Galeria</span></label>

  <!-- Item 3 -->
  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon">✄</p><span>Usługi</span></label>

  <!-- Item 4 -->
  <input type="radio" name="slideItem" id="slide-item-4" class="slide-toggle"/>
  <label for="slide-item-4"><p class="icon">✑</p><span>Zarezerwuj</span></label>

  <!-- Item 4 -->
  <input type="radio" name="slideItem" id="slide-item-5" class="slide-toggle"/>
  <label for="slide-item-5"><p class="icon">☏</p><span>Kontakt</span></label>


  <div class="clear"></div>

  <!-- Bar -->
  <div class="slider">
    <div class="bar"></div>
  </div>
</nav>
