@import '~@angular/material/theming';
@include mat-core();

$md-my: (
  50 : #f5dc4f,
  100 : #f5dc4f,
  200 : #f5dc4f,
  300 : #f5dc4f,
  400 : #f5dc4f,
  500 : #f5dc4f,
  600 : #f5dc4f,
  700 : #f5dc4f,
  800 : #f5dc4f,
  900 : #f5dc4f,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fffefe,
  A700 : #ffe5ef,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-app-primary: mat-palette($md-my);
$my-app-accent:  mat-palette($md-my);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
